// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400');

.wrapper {
  max-width: 800px;
  margin: auto;
  text-align: center;
}
body {
  font-family: 'Nunito', sans-serif;
}

h1 {
  font-weight: bold;
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 25px;
}

ul {
  padding: 0;
  text-align: center;
}

ul li {
  list-style: none;
  font-size: 15px;
  width: 100px;
  display: inline-block;
}

.container {
  float: left;
  padding: 20px;
  margin: 20px;
}

.with-border {
  border: 1px solid lightgrey;
  border-radius: 4px;
  padding: 10px;
}

.push-top {
  margin-top: 10px;
}

a {
  display: inline-block;
}

.btn {
  color: white;
  font-size: 15px;
  border-radius: 4px;

}

.btn-large {
  padding: 10px;
}

.btn-primary {
  background: #33d9b2;
}

.btn-secondary {
  background: blue;
}

.crossed-out p {
  text-decoration: line-through;
}

.box {
  border: 1px solid lightgrey;
  border-radius: 4px;
  padding: 30px;
}

.text_field {
  padding: 10px;
  border-radius: 4px;
}
